<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
 
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
		</Console>
 
		<RollingFile name="RollingFile" filename="log/minigames-api.log"
			filepattern="log/${date:MM-dd-yyyy}-minigames-api.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
 
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="RollingFile" level="debug"/>
		</Root>
	</Loggers>
</Configuration>